* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.center {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

h1 {
    font-weight: bolder;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: large;
    font-weight: bolder;
}

#label-container {
    font-size: 15px;
    font-weight: bolder;
}